<div class="dashboard-container">
  @if (user()) {
    <app-header [title]="headerTitle()" [user]="user()" />

    <main class="dashboard-content">
      <div class="cards-grid">
        <div class="action-card">
          <div class="card-icon">
            <img src="/news.svg" height="45" width="45" alt="news-img">
          </div>
          <h2>Actualitées</h2>
          <p>Gérez les dernières publications.</p>
          <button class="btn-card" (click)="getNewsPage()">VOIR PLUS</button>
        </div>

        <div class="action-card">
          <div class="card-icon">
            <img src="/contact.svg" height="45" width="45" alt="contact-img">
          </div>
          <h2>Demandes de contact</h2>
          <p>Consultez les messages envoyés.</p>
          <button class="btn-card" (click)="getContactPage()">VOIR PLUS</button>
        </div>
      </div>
    </main>
  } @else {
    <div class="loading-state">
      <div class="spinner"></div>
      <p>Chargement de votre session...</p>
    </div>
  }
</div>
