@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=TASA+Orbiter:wght@400..800&display=swap');

:root {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

* {
  font-family: 'Figtree', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
